<!DOCTYPE html>
<html>
<head>
  <title>An Awesome Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>My Awesome Blog!</h1>

<%= yield %>

</body>
</html>
